.homepageImage {
  background-image: url("../../assets/homepageImage.jpg");
  width: 60vw;
  height: 85vh;
  object-fit: cover;
  margin-left: 3.8em;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.homepage {
  display: flex;
  flex-wrap: wrap;
}

.overlay-text {
  align-items: flex-start;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

.overlay-h {
  font-size: 6vh;
  margin-bottom: 0.4em;
  font-family: 'Playfair Display', serif;
}

.overlay-p {
  font-size: 2.5vh;
  padding-top: 1vh;
}

.why-login {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: 50vh;
}

.why-login-image {
  height: 60vh;
  width: 50vw;
  background-image: url("../../assets/loginImage.jpg");
  background-size: cover;
  object-fit: cover;
}

.why-login-text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 55vh;
  margin-left: 4em;
  overflow-y: scroll;
}

.login-header {
  margin-top: 0;
  padding: 0;
  height: 0.6em;
  font-size: calc(0em + 3.4em);
}

.login-p {
  font-size: calc(0em + 2vmin);
}

.first-p {
  margin-top: 1em;
}

.tab {
  color: white;
  height: 5vh;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000052;
  border: none;
  font-size: 2vh;
  margin: 1%;
}

#tab-1 {
  background-color: dimgray;
}

#tab-2 {
  background-color: silver;
}
