.individual-meeting {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50vw;
  margin: 1em;
  font-size: calc(0em + 2vmin);
  background-color: #fafafa;
  box-shadow: 0px 4px 8px #d4d4d4;
}

.meeting-time {
  margin-top: 0;
  margin-bottom: 0;
}

.pending-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  font-size: calc(0.4em + 1vmin);
  margin: 0.5vh;
}

.pending-button-container {
  display: flex;
  flex-direction: column;
}

.decline-button,
.accept-button {
  font-size: 1vh;
  margin: 0.6em;
  background-color: #16c172;
  color: white;
  height: 2vh;
  width: 10vw;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000052;
  border: none;
}

.decline-button {
  background-color: #ec930f;
}

.form-instructions {
  font-size: 1.5vh;
  text-align: center;
  margin-bottom: 0.4em;
}

.radio-div {
  display: flex;
}

.location-label {
  font-size: 1.5vh;
  width: 30vw;
}

.location-input {
  width: 10%;
}
