.dashboard-parent-div {
  display: flex;
}

.left-sidebar {
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 5vh;
  background-color: #ececec;
  box-shadow: 0px 4px 8px #d4d4d4;
}

.dashboard-option-button {
  margin: 1vh;
  border-radius: 4px;
  font-family: "Playfair Display", serif;
}

@media screen and (max-width: 768px){
  .dashboard-parent-div {
    display: block;
  }
  .left-sidebar {
    flex-direction: row;
    width: 80%;
  }
  .dashboard-option-button {
    width: 90px;
  }
  .myinfo-title, .all-confirmed-and-title,
  .all-pending-and-title {
    margin-left: 20px;
  }
}

