.category-container {
    display: flex;
}

.category-change-container {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 2em;
}

.map-and-results {
    display: flex;
    justify-content: space-between;
}

.title-and-results {
    width: 50%;
    margin-right: 3em;
    margin-top: -10em;
}

.results {
    height: 42vh;
    overflow-y: scroll;
    margin: 2em;
    width: 100%;
    background-color: #ECECEC;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: 0px 4px 8px #d4d4d4;
}

.map {
    height: 60vh;
    margin: 2em;
    width: 40%;
}

.login-text {
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}

.meeting-invite-container {
    margin-left: 2em;
    width: 90%;
}

.invitation-button {
    font-size: calc(0.2em + 1.4vmin);
    margin-top: 0.6em;
    background-color: #16c172;
    color: white;
    height: 1.8em;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #00000052;
    border: none;
}

.category-text {
    font-size: calc(0em + 3vmin);
}