.individual-result {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  isolation: isolate;
}

.result-info-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  background-color: #fafafa;
  box-shadow: 0px 4px 8px #d4d4d4;
  width: 45vh;
  height: 20vh;
}

.result-image {
  width: 20vh;
  height: 20vh;
  object-fit: fill;
  margin: 1em;
}
/*
.result-info {
  margin: 0.2em;
  font-size: 1.6vh;
}
*/
.invite-info {
  display: flex;
  align-items: center;
  font-size: calc(0em + 1vmin);
  justify-content: space-around;
  width: 100%;
  margin-top: 0.4em;
}

.checkbox {
  height: 2em;
  width: 2em;
}

.checkbox-info {
  display: flex;
  align-items: center;
}

.result-url {
  color: #3C9C9C;
  text-decoration: none;
  font-size: 16px;
}

/*.result-image-div {
  height: 26vh;
  width: 25vw;
  margin-right: 1em;
}*/

.too-many-error {
  color: red;
  font-size: calc(0em + 1.5vmin);
  text-align: center;
}

.place-name {
  display: inline-block;
  height: 16px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

.result-address {
  display: inline-block;
  height: 16px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.result-open {
  display: inline-block;
  height: 16px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #16C172;
}

.result-closed {
  display: inline-block;
  height: 16px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FF0000;
}

.result-price {
  width: 215px;
  height: 16px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #3C9C9C;
}
.more-info {
  width: 66px;
  height: 19px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.result-category {
display: inline-block;
height: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
text-transform: capitalize;

box-shadow: 0 -1px 0 #ABB0B8;
border-radius: 6px;
background-color: #E2E2E2;
padding: 1px;
color: #000000;
}

.result-review-count{
  display: inline-block;
  height: 22px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #3C9C9C;
}


repeat {
  display:block;
  width: 85px;
  height: 22px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

repeat[n="1"]:before {
   content: "★☆☆☆☆";
}

repeat[n="2"]:before {
   content: "★★☆☆☆";
}

repeat[n="3"]:before {
   content: "★★★☆☆";
}

repeat[n="4"]:before {
   content: "★★★★☆";
}

repeat[n="5"]:before {
   content: "★★★★★";
}
