.individual-result {
    /* margin: 0.6em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    background-color: #FAFAFA;
    box-shadow: 0px 4px 8px #d4d4d4;
    width: 100%;
}

.result-image {
    height: 30vh;
    width: 80%;
}

.result-info {
    margin: 0.2em;
}