/* .user-mid {
  display: flex;
  flex-direction: column;
  padding: 2vh;
} */

.subheading {
  margin-top: 0;
}

input {
  width: 80%;
  font-size: 0.8em;
  padding: 5px;
}

.checkbox-current-address {
  /* font-size: */
}

#checkbox {
  /* margin-left: 8px; */
  width: 13px;
  padding: 0;
}
.address-input,
.checkbox-option-container {
  display: flex;
  margin-left: 0.5vh;
}

.checkbox-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 3vh;
}

p {
  font-size: 2vh;
  margin: 0.5vh;
}

h2 {
  font-size: 4vh;
}

h3 {
  font-size: 2.5vh;
}

form {
  height: 66vh;
  display: flex;
  flex-direction: column;
}

.category-icons {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-top: 1vh;
}

.icon-label,
.second-address-label {
  margin-top: 2vh;
}

.search-button {
  background-color: #16c172;
  color: white;
  height: 5vh;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000052;
  border: none;
  font-size: 2vh;
  margin: 5vh;
<<<<<<< HEAD:src/Components/UserMidFormMeeting/UserMidFormMeeting.css
  margin-left: 0;

=======
  margin-bottom: 2vh;
>>>>>>> feature/move-input-error:src/Components/UserMidForm/UserMidForm.css
}

.default-address-button {
  background-color: #16c172;
  color: white;
  height: 1.6em;
  width: 65%;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000052;
  border: none;
  font-size: 1.2em;
  margin-top: 0.8em;
}

.input-error-message {
  display: flex;
  color: red;
  font-size: 0.8em;
  margin-left: 0.5vh;
}

.input-error-message:empty::before {
  content: "";
  display: inline-block;
}

.form-error-message {
  color: red;
  white-space: pre-wrap;
}

.user-mid {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  padding-bottom: 0;
  height: 76vh;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
