.results-title {
  font-size: 3vh;
  height: 3vh;
  margin: 2vh;
}

.login-text {
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
}

.email-instructions {
  font-size: 1.5vh;
  margin: 2vh;
}
