.individual-confirmed-meeting {
    border: 2px solid pink;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 42%;
    margin: 1em;
}

.radio-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}