
.default-mid {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  padding: 0vh;
  height: 70vh;
}

.starting-point {
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.row-current-address{
  display: flex;
  flex-direction: row;
  margin-right: 1vh;
  gap: 0vh;
}
.default-title {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 40px;
}

.input {
  width: 80%;
  font-size: 3vh;
  border: none;
  border-bottom: 1px solid 
}

.checkbox-address-prompt {
  font-size: 1vh;
  margin-left: 0.5vh;
  color: #3C9C9C;

}

.current-address-prompt {
  font-size: 15px;
  margin-left: 0.5vh;
}



.checkbox-div {
  margin-bottom:0.0vh;
  margin-right: 1vh;
}

.checkbox-clear-div {
    margin-bottom:0.0vh;
}
.checkbox-option-container {
  margin-bottom: 0.0vh;
}

.checkbox-address,
.default-input,
.address-instructions {
  font-size: 1.4vh;
  margin-left: 0.5vh;
}

.default-input {
  width: 280px;
  border: none;
  border-bottom: solid #cbcbcb;
}
.category-icons {
  display: flex;
}

.second-address-label {
  font-size: 22px;
  margin-top: 1.2em;
}
.icon-label-default {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.search-button {
  margin-top:  80px;
  margin-left: 0.5vh;
  background-color: #16c172;
  color: white;
  height: 1.6em;
  width: 85%;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000052;
  border: none;
  font-size: 3vh;
}

.failed-fetch-error {
  color: red;
  margin-left: 1em;
}
