.leaflet-container {
  width: 40%;
  height: 40vh;
}

body {
  margin: 0;
}

* {
  font-family: "Open Sans", sans-serif;
}

svg:hover,
button:hover {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

