.Nav {
  display: flex;
  height: 15vh;
  width: 100%;
  background-color: #000000;
  margin: 0%;
  align-items: flex-end;
  justify-content: space-between;
}

.page-title {
  font-size: 7vh;
  color: white;
  margin: 0;
  margin-bottom: 2%;
  font-family: "Playfair Display", serif;
}

.nav-button {
  font-size: 2vh;
  color: white;
  background-color: #000000;
  border: none;
  padding-bottom: 3vh;
}

.title-block {
  height: 1vh;
  width: 100%;
  background-color: white;
  color: white;
}

.title-div {
  display: flex;
  flex-direction: column;
  margin-left: 8em;
}

.about-bar,
.dashboard-bar,
.home-bar {
  color: white;
  background-color: white;
  height: 2vh;
  width: 6vw;
  margin-bottom: 0.2em;
  margin-top: -1em;
}

.home-button,
.dashboard-button,
.about-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
